
<div class="container">

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <!-- <th scope="col">USER'S NAME</th> -->
        <th>
        <select  class="custom-select" (change)="onSelectionChange($event)">
            <option selected>  -- USER'S NAME --</option>
            <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
          </select></th>
        <th scope="col">TITLE</th>
        <th scope="col"></th>
      </tr>
    </thead>
  
    <tbody>
    
      <tr *ngFor="let post of (selectedUserPosts.length > 0 ? selectedUserPosts : postList)" [ngSwitch] = "post.userId">
        <th  scope="row">{{post.id}}</th>
        <td *ngSwitchCase ="users[0]?.id">{{users[0].name}}</td>
        <td *ngSwitchCase ="users[1]?.id">{{users[1].name}}</td>
        <td *ngSwitchCase ="users[2]?.id">{{users[2].name}}</td>
        <td *ngSwitchCase ="users[3]?.id">{{users[3].name}}</td>
        <td *ngSwitchCase ="users[4]?.id">{{users[4].name}}</td>
        <td *ngSwitchCase ="users[5]?.id">{{users[5].name}}</td>
        <td *ngSwitchCase ="users[6]?.id">{{users[6].name}}</td>
        <td *ngSwitchCase ="users[7]?.id">{{users[7].name}}</td>
        <td *ngSwitchCase ="users[8]?.id">{{users[8].name}}</td>
        <td *ngSwitchCase ="users[9]?.id">{{users[9].name}}</td>
        <td *ngSwitchDefault >Anonyme</td>
        <td>{{post.title}}</td>
        <td><button routerLink ="/edit/{{post.id}}" class="btn btn-primary"  style="float: right" >Modifier</button></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="postList.length < 1" class="alert alert-info" role="alert"> il n'y a présentement pas de posts </p>
</div>




 
