<div class="container">
 <div class="row">
   <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     <form [formGroup]="editForm" (ngSubmit)="onSubmit()" #f="ngForm">
       <div class="form-group">
         <label for="title">Title</label>
         <input type="text"
         formControlName="title"
         class="form-control"
         >
         <span  class="help-block"
         *ngIf="!editForm.get('title').valid && editForm.get('title').touched">
        Un titre valide comporte un minimum de 5 caractères et un maximum de 100 caractères
        </span>
       </div>

       <div class="form-group">
         <label for="username">Name</label>
         <input type="text"
         formControlName = "username"
         class="form-control"
         >
       </div>

       <div class="form-group">
          <label for="userID">User ID</label>
          <input type="text"
          formControlName = "userID"
          class="form-control"
          >
          <span  class="help-block"
          *ngIf="!editForm.get('userID').valid && editForm.get('userID').touched">
            Please enter a valid user id 
          </span>
        </div>

        <div class="form-group">
            <label for="body"
            >Body</label>
            <textarea type="text"
            style="height:100px"
            formControlName = "body"
            class="form-control"
            > </textarea>
            <span class="help-block"
            *ngIf = "!editForm.get('body').valid && editForm.get('body').touched">
          Veuillez entrer un texte valide
          </span>
          </div>
         <button [disabled]="!f.valid" class="btn btn-primary">Soumettre</button> 
     </form>
   </div>
 </div>
</div>