<div class="page-header" >
<div class="container">
  <h1>Angular test</h1>
    <nav class="navbar navbar-default navbar-static-top " style="background-color: white; border: none" >
        
            <ul class="nav nav-pills" style="background-color: white;">
                <li role="presentation"  ><a class="nav-link" routerLink=''>Posts</a></li>
                <li role="presentation"><a class="nav-link" routerLink='edit'>Creer Posts</a></li>
              </ul>
        
      </nav>
</div>
  
  </div>
  
  

